<% @posts.each do |p| %>
  <div class="card single_post">
    <div class="body ">
      <div class="img-post">
        <%= image_tag(p.image, class: "d-block img-fluid") if p.image.present? %>
      </div>
      <h3><%= p.title %></h3>
      <p><%= p.content.body %></p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <h6>Tags do Post:</h6>
        <% p.tags.each do |tag| %>
          <span><%= link_to tag.name, posts_path(tag: tag.name), remote: true %></span>
        <% end %>
      </div>
      <%= render 'comments', post: p %>
      <%= render 'form_comments', post: p %>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <%if policy(p).edit? %>
          <%= link_to 'Editar Post', edit_post_path(p), class: "nes-btn is-warning" %>
        <%end%>
        <%if policy(p).destroy? %>
          <%= button_to "Eliminar Post", p, method: :delete, data: { controller: 'sweet-alert', action: 'click->sweet-alert#confirmDelete', confirm: 'Você tem certeza?', sweet_alert: true }, class: "nes-btn is-error" %>
        <%end%>
      </div>
    </div>
  </div>
<% end %>