<div id="main-content" class="blog-page">
  <div class="container">
    <div class="row clearfix">
      <div class="col-lg-8 col-md-12 left-box">
        <%= render 'card_post'%>
      </div>
      <div class="col-lg-4 col-md-12 right-box">
        <div class="card">
          <% if policy(Post).create? %>
            <div class="body search">
              <div class="input-group m-b-0">
              </div>
              <%= link_to 'Escreva um Post', new_post_path, class: 'nes-btn is-primary' %>
              <div>
                <h4>Ou Importe um ou mais posts</h4>
                <div class="mt-2 mb-4">
                  <p class= "mt-2">
                    <%= link_to "Baixe o modelo", download_model_path, class:'nes-btn is-primary' %>
                  </p>
                  <h4> Antes de importar faça o download do modelo acima e preencha com os dados dos posts.</h4>
                  <%= form_with(url: upload_posts_file_path, method: :post, local: true, multipart: true) do |form| %>
                    <label  class="nes-btn">
                      <span>Importar Posts</span>
                      <%= form.file_field :file, onchange: 'this.form.submit();', class: 'd-none', title: 'Escolha o arquivo' %>                    </label>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="card mt-2">
          <div class="header">
            <h2>Tags</h2>
          </div>
          <%=render 'widget'%>
        </div>
        <div class="card">
          <div class="header">
            <h2>Post mais popular</h2>
          </div>
          <div class="body widget popular-post">
            <div class="row">
              <div class="col-lg-12">
                <% if @popular_post %>
                  <div class="single_post">
                    <p class="m-b-0"><%= @popular_post.title %></p>
                    <span><%= @popular_post.created_at.strftime('%b %d, %Y')%></span>
                    <p>Este post tem <%= @popular_post.comment_threads.size %> comentários e é o mais comentado.</p>
                  </div>
                <%end%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% unless @posts.empty? %>
    <%= paginate @posts %>
  <% end %>
</div>